.intl-phone-input {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 5rem;
    background: $c-lightest;
    border: solid 0.1rem $c-light-border;
    border-radius: 0.2rem;
    transition: all 0.4s;
    
    &[disabled] {
        opacity: 0.5;
    }

    &.disabled {
        opacity: 0.5;
    }
}

    .intl-phone-input__phone-number {
        border: none;
        background: none;
        outline: none;
        padding: 1rem 1.5rem;
        padding-left: 0.5rem;
        height: 5rem;
        font-family: $f-montserrat;
        font-size: 1.6rem;
        font-weight: 500;
        flex-grow: 1;
    }

    .intl-phone-input__prefix {
        padding-left: 1.5rem;
        font-size: 2rem;
    }