/*------------------------------------*\
    Color variables
\*------------------------------------*/

$c-black: #000000;
$c-lightest: #ffffff;
$c-darkest: #1E1E1E;
$c-text: #134532;
$c-text-dark: #303135;

$c-grey: #E5E5E5;
$c-greySecond: #979797;
$c-sand: #F7F6F4;
$c-secondary-grey: #979797;
$c-tertiary-grey: #606060;
$c-shadow: #CCC5B840;
$c-light-border: #CCC5B8;
$c-disabled: #CCC5B8;


$c-red: #e60000;
$c-red-light: #F28080;
$c-error-red: #e60000;
$c-error-bg: #ffe0e0;
$c-blue: #b9e2fa;
$c-blue-admin: #006FD6;
$c-blue-dark: #0079c7;
$c-disabled: #ccc5b8;
$c-green: #134532;
$c-light-green: #D3E9E1;

$c-country-tag: #B6B6B6;
$c-language-blue: #2BBAE8;
$c-table-filter-clear: #EDECE9;

$c-cell-yellow: #FFA012;
$c-cell-green: #00AA4E;
$c-cell-light-green: #33B885;
$c-cell-faint-green: #92CAB9;
$c-cell-red: #E60000;
$c-cell-grey: #B6B6B6;