/*------------------------------------*\
    Card
\*------------------------------------*/

.card {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 2rem 1.5rem;
    background: $c-lightest;
    border-radius: 0.8rem;
    box-shadow: 0rem 0rem 0.8rem rgba(204, 197, 184, 0.25);

    .button {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.card--light {
    background: $c-light-border;
}

.card--large {
    padding: 3rem 3rem 2rem;
}

.card--center {
    text-align: center;
}

.card--disabled {
    opacity: 0.5;
    pointer-events: none;
}

    .card__link {
        color: inherit;
        text-decoration: none;
    }

    .card__icon {
        display: block;
        margin-bottom: 1rem;
    }

    .card__pill {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

.card--project {
    padding: 1.5rem;
}
