/*------------------------------------*\
    Pill
\*------------------------------------*/

.pill {
    padding: 0rem 1.8rem;
    color: $c-lightest;
    background: $c-red;
    border-radius: 0.8rem;
    font-family: $f-montserrat;
    font-size: 1.6rem;
    font-weight: 600;
}
