.profile-details-wrapper {
    padding: 2rem 3rem;
    margin-bottom: 3rem;
}

.user-profile__details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    &.no-profile-pic {
        grid-template-columns: 1fr;

        .user-profile__image {
            display: none;
        }
    }

    @media (min-width: 768px){
        grid-template-columns: 30% 1fr;
    }
} 

    .user-profile__pic {
        width: 100%;
        max-width: 22rem;
        aspect-ratio: 1 / 1;
        border: solid 0.1rem $c-light-border;
        border-radius: 50%;
        margin-bottom: 2rem;
        object-fit: contain;
    }

    .user-profile__sectors {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        max-width: 22rem;
        margin-bottom: 2rem;
    }

    .user-profile__specialities {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        max-width: 22rem;
        margin-bottom: 2rem;
    }
