.input-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}

.input-element {
    font-family: $f-montserrat;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
}

    .input-label {
        font-family: $f-montserrat;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .error-message {
        position: relative;
        margin-bottom: 1rem;
        padding: 1rem;
        padding-left: 4rem;
        border: solid 0.1rem $c-error-red;
        border-radius: 0.2rem;
        color: $c-error-red;
        background: $c-error-bg;
        font-weight: 600;

        &::before {
            @include pseudo;
            left: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 2.5rem;
            background: url(../../images/field-error-warning.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .info-message {
        position: relative;
        margin-bottom: 1rem;
        padding: 1rem;
        padding-left: 4rem;
        border: solid 0.1rem $c-tertiary-grey;
        border-radius: 0.2rem;
        color: $c-tertiary-grey;
        background: $c-grey;
        font-weight: 600;

        &::before {
            @include pseudo;
            left: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 2.5rem;
            background: url(../../images/field-info-warning.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
